form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #eee;
}

h2 {
  text-align: center;
  margin-bottom: 10px;
}

.error {
  color: red;
}

label {
  margin-bottom: 5px;
}

input {
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

button {
  background: #007bff;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}