/* HomePage.css */

.home-page {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.question {
    margin-bottom: 30px;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 4px;
    background-color: #fff;
}

.answerForm {
    margin-bottom: 10px;
}

.answer {
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.answer:last-child {
    border-bottom: none;
}